extends ../index.pug

block content
    .d-flex.justify-content-center.align-items-center.mt-auto.mb-auto 
        h4.text-center.w-50
          ='Это мой тестовый проект, в процессе разработки которого я знакомлюсь с различными функциями и инструментами веб разработки. В данный момент проект выступает в формате мини блога. Посмотрим к чему это приведет.'