extends ../index.pug

block content
        if flash && flash.success
        each message in flash
            .alert.alert-success
                = message

        if articles.length === 0
            p Пока статей нет
        else  
            each article in articles
                div  
                    h2
                        a(href=route('article', {id:article.id})) #{article.articleName}
                    p #{article.description}