html 
  body 
    if error 
      p= error.message 


    form(action ='/courses', method = 'post')
      div 
        label Название курса:
          input(type = 'text', name = 'courseName', value = courseName, required = true)
      div 
        label Описание курса:
          input(type = 'text', name = 'description', value = description, required = true)
      input(type = 'submit', value = 'Создать')
    div 
      each course in courses 
        h2= course.courseName 
        p= course.description