extends ../index.pug

block content
    //if error
      p= error.message

    if flash.success
      each message in flash.success
        .alert.alert-success
          = message
    if flash.warning 
      each message in flash.warning 
        .alert.alert-warning 
          = message
    if flash.info 
      each message in flash.info 
        .alert.alert-info 
          = message

    form.form-signin(action = route('articles'), method = 'post')
      h1.h3.mb-3.fw-normal= 'Создать пост'
        div 
          label.form-label Название курса:
            input.form-control(type = 'text', name = 'articleName', value = articleName, required = true)
        div 
          label.form-label Описание курса:
            input.form-control(type = 'text', name = 'description', value = description, required = true)
        input.btn.btn-primary(type = 'submit', value = 'Создать')
      div 
      //  each course in courses 
          h2= course.courseName 
          p= course.description