extends ../index.pug

block content
    main.container.d-flex.flex-column.align-items-center.mt-auto.mb-auto

        div     
            h2 #{article.articleName}
            p #{article.description}