extends ../index.pug

block content

    if flash.success
      each message in flash.success
        .alert.alert-success
          = message
    if flash.warning 
      each message in flash.warning 
        .alert.alert-warning 
          = message
    if flash.info 
      each message in flash.info 
        .alert.alert-info 
          = message
      
      //if error
        p= error.message

    main.container.d-flex.flex-column.align-items-center.mt-auto.mb-auto

      form.form-signin(action = '/login', method = 'post')
        h1.h3.mb-3.fw-normal= 'Войти'
        div 
          label.form-label Имя:
            input.form-control(type = 'text', name = 'name')
        div 
          label.form-label Email: 
            input.form-control(type = 'email', name = 'email', required = 'true')
        div 
          label.form-label Пароль:
            input.form-control(type = 'password', name = 'password', required = 'true')
        input.btn.btn-primary(type = 'submit', value = 'Войти')