extends ../index.pug

block content
    //if error
      p= error.message

    if flash.success
      each message in flash.success
        .alert.alert-success
          = message
    if flash.warning 
      each message in flash.warning 
        .alert.alert-warning 
          = message
    if flash.info 
      each message in flash.info 
        .alert.alert-info 
          = message

      
    form(action = '/users', method = 'post')
      div 
        label Имя:
          input(type = 'text', name = 'name')
      div 
        label Email: 
          input(type = 'email', name = 'email', required = 'true')
      div 
        label Пароль:
          input(type = 'password', name = 'password', required = 'true')
      div 
        label Подтверждение пароля:
          input(type = 'password', name ='passwordConfirmation', required = 'true')
      input(type = 'submit', value = 'Зарегестрироваться')
    div
      //each user in users
       h2= user.name 
       p= user.email 